img {
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  width: 50%;
  text-align: center;
  font-size: 24px;
  padding: 30px;
  opacity: 0,5;
  float: right

}

.App-header {
 background-image:url("https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_1280.jpg");
 padding: 60px; 
 text-align: left;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el encabezado */
 border-radius: 2px; /* Bordes redondeados */
}
.menu-item {
 color: rgb(6, 6, 2);
 background-color: #ecd7eb;
 padding: 10px 20px; /* Padding más grande */
 cursor: pointer;
 transition: background-color 0.3s, transform 0.3s; /* Transición suave */
 border-radius: 2px; /* Bordes redondeados */

}
/* Estilo para botones de Bootstrap */
.btn-encabezado {
 background-color: #2b325359;
 border: none;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 transition: background-color 0.3s, transform 0.3s;
}